<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <title> Departments Data </title>
    <style>
        svg rect {
            fill: #00008B;
        }
        .highlight {
            fill: blue;
        }
    </style>
</head>

<body>

    <!-- Navbar -->
    <nav class="top-bar" data-topbar role="navigation">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
            <li class="menu-text">Professor-O-Meter</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
            <li><a href="/">Home</a></li>
            <li><a href="/professor">Professors</a></li>
            <li><a href="/lecture">Lectures</a></li>
            <li><a href="/departments">Departments</a></li>
            <ul class="menu">
                <li><form action="/result" class="search-form">
                    <input type="search" placeholder="Search" id="search" name="search"></li>
                    <li><button type="submit" class="button">Search</button>
                </form></li>
            </ul>
            </ul>
        </div>
        </nav>
        <h1>Departments</h1>
        <!-- This will be the template for each lecture's page, showing all the information we have on that lecture -->
        
    <div>
        <button type="button" class ="button" id="wpm_dept">Words Per Minute by Department</button>
        <button type="button" class="button" id="vocab_dept">Common Vocabulary By Department</button>
        <button type="button" class="button" id="pie_chart">Data Sources</button>
    </div>
    <svg></svg>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/js/d3test.js"></script>
    <script>
        //okay so this is scuffed but it works, using jinja templating
        //d3 might need to be done in a script tag
        var lectureRaw = '{{ data1 }}';
        //for some reason the unicode or whatever for " is used
        lectureRaw = lectureRaw.replaceAll('&#34;', '\"');
        var lecture = JSON.parse(lectureRaw.replace('&#34;', '\"'))

        var profRaw = '{{ data2 }}';
        profRaw = profRaw.replaceAll('&#34;', '\"');
        var professors = JSON.parse(profRaw.replace('&#34;', '\"'))

        var depRaw = '{{ data3 }}';
        depRaw = depRaw.replaceAll('&#34;', '\"');
        var departments = JSON.parse(depRaw.replace('&#34;', '\"'))

        wpmDeptButton = document.getElementById("wpm_dept");
        vocabDeptButton = document.getElementById("vocab_dept");
        pieChartButton = document.getElementById("pie_chart");


        //g is group in svg, kind of like div in html, removing them wipes the svg "canvas" clean
        var clear = function() {
            d3.selectAll("g").remove();
            d3.selectAll("text").remove();
        }

        //there are some things in this function that should probably be done outside
        //this will create a simple bar graph using department info, since this is easy
        var wpmBar = function() {
            clear();
            //margins for all sides defined here, as well as svg size in case we want bigger or smaller graph
            const left_margin = 75;
            const right_margin = 25;
            const top_margin = 50;
            const bottom_margin = 250;
            const height = 600;
            const width = 800;
            var svg = d3.select("svg")
                .attr("width", width)
                .attr("height", height);

            //may want to define margin for all sides, since bottom margin is much larger than other side margins
            var actualWidth = width-left_margin-right_margin;
            var actualHeight = height-top_margin-bottom_margin;
            //data will be in form of 2 dimensional array
            //sorting for this data can probably be done outside of this function for max efficiency, but too lazy to move this out and rewrite
            var actualData = [];

            //this takes data and populates 2 dimensional array with department name and wpm, sorted by wpm
            dep_keys = Object.keys(departments);
            for (let i = 0; i < dep_keys.length; i++) {
                if (departments[dep_keys[i]][0] != "0") {
                    actualData.push([dep_keys[i], departments[dep_keys[i]][0]]);
                }
            }

            //this part does the sorting
            actualData = actualData.sort( function(a, b) {
                return b[1] - a[1];
            })

            barWidth = Object.keys(actualData).length * 0.5

            var xScale = d3.scaleBand()
                .range([0, actualWidth])
                .padding(0.5);
            var yScale = d3.scaleLinear()
                .range([actualHeight, 0]);

            var g = svg.append("g")
                .attr("transform", "translate(" + left_margin + "," + top_margin + ")");
            
            //this maps the first column of the 2d array into a 1d array
            wpm = actualData.map( function(arr, i) {
                //wpm elements were strings initially
                //* 100 then division by 100 to maintain 2 decimals
                return parseInt(arr[1] * 100) / 100;
            });
            sorted_depts = actualData.map( function(arr, i) {
                return arr[0];
            });
            yScale.domain([70, d3.max(wpm, function(d) {
                return d;
            })]);
            //xscale after y scale because we need sorted wpm list first
            xScale.domain(sorted_depts.map( function(i) {
                return i;
            }));

            //this part is all for translating x axis down and making tick labels readable
            g.append("g")
                .attr("transform", "translate(0," + actualHeight + ")")
                .call(d3.axisBottom(xScale))
                .selectAll("text")
                    .style("text-anchor", "end")
                    .style("font-size", "9px")
                    .attr("dy", "-0.5em")
                    .attr("dx", "-0.6em")
                    .attr("transform", "rotate(-50)");

            //creates a new group for y axis ticks
            g.append("g")
            .call(d3.axisLeft(yScale).tickFormat(function(d) {
                return d;
            }));

            //creates bars
            g.selectAll("bar")
                .data(wpm)
                .enter() //data takes in array and enter puts it into somewhere?
                .append("rect") //bars are just rectangles
                .attr("class", "bar")
                .on("mouseover", function(d, i) {
                    var xPos = +d3.select(this)
                        .attr("x");
                    var width = +d3.select(this)
                        .attr("width");
                    d3.select(this)
                        .transition()
                        .duration(300)
                        .attr("class", "highlight")
                        .attr("x", xPos - 5)
                        .attr("width", width + 10);
                })
                .on("mouseout", function() {
                    //mouseout slightly buggy since bars may still be highlighted after cursor goes out of bar
                    d3.select(this)
                        .attr("class", "bar")
                        .transition()
                        .duration(200)
                        .attr("x", function(d) {
                            index = wpm.indexOf(d);
                            return xScale(actualData[index][0]);
                        })
                        .attr("width", xScale.bandwidth());
                })
                .attr("x", function(i) {
                    index = wpm.indexOf(i);
                    dept_name_tick = actualData[index][0];
                    return xScale(dept_name_tick)
                })
                .attr("y", function(d) {
                    return yScale(d);
                })
                .attr("width", xScale.bandwidth())
                .attr("height", function(d) {
                    return actualHeight - yScale(d);
                });

            //making title
            svg.append("text") //title is just text
                .style("text-anchor", "middle") //centers text
                .attr("transform", "translate(" + ((actualWidth/2) + left_margin) + "," + "10)") //moves it to relatively central place on top of bar chart
                .attr("y", 20) //move the title down a little
                .attr("font-size", "20px") //bigger font
                .attr("font-weight", 500) //slightly bolder
                .text("Words Per Minute by Department"); //the content
                
            //labeling x-axis, similar to how title is created
            svg.append("text")
                .style("text-anchor", "middle")
                .attr("transform", "translate(" + ((actualWidth/2) + left_margin) + "," + (height - 80) + ")")
                .attr("font-size", "15px")
                .attr("font-weight", 400)
                .text("Department Name");

            //y-axis, pretty much same as x-axis but text is rotated and at middle of height instead of width
            svg.append("text")
                .style("text-anchor", "middle")
                .attr("transform", "translate(20" + "," + ((actualHeight/2) + top_margin) + ")rotate(-90)")
                .attr("font-size", "15px")
                .attr("font-weight", 400)
                .text("WPM");
        }

        //bar graph for vocab
        var vocabBar = function() {
            clear();
            clear();
            //margins for all sides defined here, as well as svg size in case we want bigger or smaller graph
            const left_margin = 75;
            const right_margin = 25;
            const top_margin = 50;
            const bottom_margin = 250;
            const height = 600;
            const width = 800;
            var svg = d3.select("svg")
                .attr("width", width)
                .attr("height", height);

            //may want to define margin for all sides, since bottom margin is much larger than other side margins
            var actualWidth = width-left_margin-right_margin;
            var actualHeight = height-top_margin-bottom_margin;
            //data will be in form of 2 dimensional array
            //sorting for this data can probably be done outside of this function for max efficiency, but too lazy to move this out and rewrite
            var actualData = [];

            //this takes data and populates 2 dimensional array with department name and wpm, sorted by wpm
            dep_keys = Object.keys(departments);
            for (let i = 0; i < dep_keys.length; i++) {
                if (departments[dep_keys[i]][1] != "0") {
                    actualData.push([dep_keys[i], departments[dep_keys[i]][1]]);
                }
            }

            //this part does the sorting
            actualData = actualData.sort( function(a, b) {
                return b[1] - a[1];
            })

            barWidth = Object.keys(actualData).length * 0.5

            var xScale = d3.scaleBand()
                .range([0, actualWidth])
                .padding(0.5);
            var yScale = d3.scaleLinear()
                .range([actualHeight, 0]);

            var g = svg.append("g")
                .attr("transform", "translate(" + left_margin + "," + top_margin + ")");
            
            //this maps the first column of the 2d array into a 1d array
            wpm = actualData.map( function(arr, i) {
                //wpm elements were strings initially
                //* 100 then division by 100 to maintain 3 decimals
                return parseInt(arr[1] * 1000) / 1000;
            });
            sorted_depts = actualData.map( function(arr, i) {
                return arr[0];
            });
            yScale.domain([0.6, d3.max(wpm, function(d) {
                return d;
            })]);
            //xscale after y scale because we need sorted wpm list first
            xScale.domain(sorted_depts.map( function(i) {
                return i;
            }));

            //this part is all for translating x axis down and making tick labels readable
            g.append("g")
                .attr("transform", "translate(0," + actualHeight + ")")
                .call(d3.axisBottom(xScale))
                .selectAll("text")
                    .style("text-anchor", "end")
                    .style("font-size", "9px")
                    .attr("dy", "-0.5em")
                    .attr("dx", "-0.6em")
                    .attr("transform", "rotate(-50)");

            //creates a new group for y axis ticks
            g.append("g")
            .call(d3.axisLeft(yScale).tickFormat(function(d) {
                return d;
            }));

            //creates bars
            g.selectAll("bar")
                .data(wpm)
                .enter() //data takes in array and enter puts it into somewhere?
                .append("rect") //bars are just rectangles
                .attr("class", "bar")
                .on("mouseover", function(d, i) {
                    var xPos = +d3.select(this)
                        .attr("x");
                    var width = +d3.select(this)
                        .attr("width");
                    d3.select(this)
                        .transition()
                        .duration(300)
                        .attr("class", "highlight")
                        .attr("x", xPos - 5)
                        .attr("width", width + 10);
                })
                .on("mouseout", function() {
                    //mouseout slightly buggy since bars may still be highlighted after cursor goes out of bar
                    d3.select(this)
                        .attr("class", "bar")
                        .transition()
                        .duration(200)
                        .attr("x", function(d) {
                            index = wpm.indexOf(d);
                            return xScale(actualData[index][0]);
                        })
                        .attr("width", xScale.bandwidth());
                })
                .attr("x", function(i) {
                    index = wpm.indexOf(i);
                    dept_name_tick = actualData[index][0];
                    return xScale(dept_name_tick)
                })
                .attr("y", function(d) {
                    return yScale(d);
                })
                .attr("width", xScale.bandwidth())
                .attr("height", function(d) {
                    console.log(d);
                    return actualHeight - yScale(d);
                });

            //making title
            svg.append("text") //title is just text
                .style("text-anchor", "middle") //centers text
                .attr("transform", "translate(" + ((actualWidth/2) + left_margin) + "," + "0)") //moves it to relatively central place on top of bar chart
                .attr("y", 30) //move the title down a little
                .attr("font-size", "20px") //bigger font
                .attr("font-weight", 500) //slightly bolder
                .text("Common Vocabulary by Department"); //the content
                
            //labeling x-axis, similar to how title is created
            svg.append("text")
                .style("text-anchor", "middle")
                .attr("transform", "translate(" + ((actualWidth/2) + left_margin) + "," + (height-100) + ")")
                .attr("font-size", "15px")
                .attr("font-weight", 400)
                .text("Department Name");

            //y-axis, pretty much same as x-axis but text is rotated and at middle of height instead of width
            svg.append("text")
                .style("text-anchor", "middle")
                .attr("transform", "translate(10" + "," + ((actualHeight/2) + top_margin) + ")rotate(-90)")
                .attr("font-size", "15px")
                .attr("font-weight", 400)
                .text("Common Vocabulary");
        }

        // this is a pie chart for showing where our sources are from
        // certain departments having missing stats, so this is for the ones that are actually used
        var deptPieChart = function() {
            const height = 500;
            const width = 500;
            const margins = 100;

            //may need an ordinal scale because scale isn't a straight line
            var data = [2, 4, 6, 8];
            var pie = d3.pie();
            console.log(pie);
        }

        wpmDeptButton.addEventListener("click", wpmBar);
        vocabDeptButton.addEventListener("click", vocabBar);
        pieChartButton.addEventListener("click", deptPieChart);

    </script>
</body>
</html>