<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <title> TITLE GANG </title>
</head>

<body>
    <!-- Navbar -->
      <nav class="top-bar" data-topbar role="navigation">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
            <li class="menu-text">Professor-O-Meter</li>
          </ul>
        </div>

        <div class="top-bar-right">
          <ul class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
            <li><a href="/">Home</a></li>
            <li><a href="/professor">Professors</a></li>
            <li><a href="/lecture">Lectures</a></li>
            <li><a href="/departments">Departments</a></li>
            <ul class="menu">
                <li><form action="/result" class="search-form">
                    <input type="search" placeholder="Search" id="search" name="search"></li>
                    <li><button type="submit" class="button">Search</button>
                </form></li>
              </ul>
            </div>
            </ul>
        </div>
      </nav>

    <div><button type="button" class="button" id="cickme">click me</button></div>
    <div>
        <form action="d3test">
            <button>redirect to d3 test</button>
        </form>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore ipsum expedita perferendis commodi magni omnis culpa accusantium nulla eligendi nobis. Quibusdam reiciendis soluta beatae quo! Facere harum voluptates dignissimos dolorum!
    Nostrum sint tenetur excepturi odio, reiciendis porro deserunt quibusdam nisi ab facilis earum molestiae quas sed incidunt quasi magnam, nemo ipsam in officia a. Odio ex eius quos minus animi.
    Reiciendis nesciunt eaque quo, voluptate molestias illo eos eveniet asperiores corrupti sequi similique, numquam quis impedit error temporibus autem ullam! Fugiat pariatur voluptatem harum mollitia repudiandae ab porro corporis nobis.</p>
    

    <div style="width:50%;">
        <table class="hover unstriped">
            <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">Course Name</th>
                <th rowspan="2">Title</th>
                <th rowspan="2">Prof_id</th>
                <th rowspan="1" colspan="3">INFO</th>
            </tr>
            <tr>
                <th>topic</th>
                <th>Speed</th>
                <th>Vocab</th>
            </tr>
            {% for Lecture in LEC %}
            <tr>
                {% for value in Lecture %}
                    <td>
                        {{ value }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div style="width:50%;">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Speed</th>
                <th>Vocab</th>
                <th>Student Interaction</th>
            </tr>
            {% for Professor in PROF %}
            <tr>
                {% for value in Professor %}
                    <td>
                        {{ value }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div style="width:50%;">
        <table>
            <tr>
                <th>Topic</th>
                <th>Speed</th>
                <th>Vocab</th>
                <th>Student Interaction</th>
            </tr>
            {% for Subject in SUB %}
            <tr>
                {% for value in Subject %}
                    <td>
                        {{ value }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Scripts -->
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="{{url_for('static', filename='js/peanut.js')}}"></script>
    <script src='https://d3js.org/d3.v4.min.js'></script> 
</body>
</html>