<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ADD  Script and FEF -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITLE GANG</title>
</head>

<body>
    <h1>This is our Home page</h1>
    <div><button id="cickme">click me</button></div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore ipsum expedita perferendis commodi magni omnis culpa accusantium nulla eligendi nobis. Quibusdam reiciendis soluta beatae quo! Facere harum voluptates dignissimos dolorum!
    Nostrum sint tenetur excepturi odio, reiciendis porro deserunt quibusdam nisi ab facilis earum molestiae quas sed incidunt quasi magnam, nemo ipsam in officia a. Odio ex eius quos minus animi.
    Reiciendis nesciunt eaque quo, voluptate molestias illo eos eveniet asperiores corrupti sequi similique, numquam quis impedit error temporibus autem ullam! Fugiat pariatur voluptatem harum mollitia repudiandae ab porro corporis nobis.</p>
    <form action="/result">
        <label for="search">Search Here:</label>
        <input type="text" name="search" id="search">
        <button>search</button>
    </form>

    <script src="{{url_for('static', filename='peanut.js')}}"></script>
</body>
</html>