<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet"> 
    <title> MIT Professor-O-Meter </title>
    <style>
      svg rect {
        fill: #00008B;
      }
      div.hover {
        /* stole someone else's css because I can't make things look good*/
        position: absolute;
        text-align: center;
        padding: .5rem;
        background: #FFFFFF;
        color: #313639;
        border: 1px solid #313639;
        border-radius: 8px;
        pointer-events: none;
        font-size: 12px;
      }
    </style>
</head>

<body>

    <!-- Navbar -->
    <nav id="navbar" class="top-bar" data-topbar role="navigation">
      <div id="navbar" class="top-bar-left">
          <ul id="navbar" class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
          <li id="menu-text" class="menu-text">Professor-O-Meter</li>
          </ul>
      </div>

      <div id="navbar" class="top-bar-right">
          <ul id="navbar" class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
          <li><a href="/">Home</a></li>
          <li><a href="/professor">Professors</a></li>
          <li><a href="/lecture">Lectures</a></li>
          <li><a href="/departments">Departments</a></li>
          <ul class="menu">
              <li><form id="navbar" action="/result" class="search-form">
                  <input type="search" placeholder="Search" name="search"></li>
                  <li><button id="search_button" type="submit" class="button">Search</button>
              </form></li>
              </ul>
          </div>
          </ul>
      </div>
      </nav>
    Lectures
     <!-- This will be the template for each lecture's page, showing all the information we have on that lecture -->

    <div>
      <button type="button" class="button" id="speed_histogram">Lecture WPM Histogram</button>
    </div>
    <svg></svg>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
      var lecRaw = '{{ data }}';
      lecRaw = lecRaw.replaceAll('&#34;', '\"');
      var lectures = JSON.parse(lecRaw.replace('&#34;', '\"'))
      //console.log(lectures);

      var speedButton = document.getElementById("speed_histogram");

      var clear = function() {
        d3.selectAll("g").remove();
        d3.selectAll("text").remove();
        d3.selectAll("rect").remove();
      }

      var speedHistogram = function() {
        clear();
        var margins = 50;
        var width = 800;
        var height = 600;

        var actualWidth = width - 2*margins;
        var actualHeight = height - 2*margins;

        var svg = d3.select("svg")
          .attr("width", width)
          .attr("height", height);

        data = [];
        lec_keys = Object.keys(lectures); //pretty much lecture id
        for (let i = 0; i < lec_keys.length; i++) {
          if (lectures[lec_keys[i]][4] > 0) {
            data.push([lec_keys[i], lectures[lec_keys[i]][0], lectures[lec_keys[i]][1], lectures[lec_keys[i]][3], lectures[lec_keys[i]][4]]);
          }
        }
        //console.log(data);

        data = data.sort( function(a, b) {
          return a[4] - b[4]; 
        })
        //console.log(data);
        
        wpm = data.map( function(arr, i) {
          return arr[4];
        })
        //console.log(wpm);

        //since this is a histogram we want ranges
        max_wpm = d3.max(wpm, function(d) {
          return d;
        });
        min_wpm = d3.min(wpm, function(d) {
          return d;
        })
        //establishing lower and upper bounds
        max_wpm = Math.ceil(max_wpm / 10) * 10;
        min_wpm = Math.floor(min_wpm / 10) * 10;
        //console.log(min_wpm, max_wpm);
        //sorting the data into buckets
        ranges = {};
        prev_index = 0;
        for (let i = min_wpm; i < max_wpm; i+=10) {
          let r = [];
          //console.log("min_wpm is " + i);
          let range_name = i + "-" + (i + 10);
          for (var j = prev_index; j < data.length && data[j][4] <= i+10; j++) {
            r.push(data[j]);
            //console.log("j is " + j);
          }
          
          ranges[range_name] = r;
          prev_index = j;
        }
        //console.log(ranges);
        var range_names = Object.keys(ranges);
        console.log(range_names);

        var xScale = d3.scaleBand()
          .range([0, actualWidth])
          .domain(range_names.map( function(d) {
            return d;
          }))
          .padding(0.5);
        var yScale = d3.scaleLinear()
          .range([actualHeight, 0])
          .domain([0, 400]);

        svg.append("g")
          .attr("transform", "translate(" + margins + ", " + (actualHeight + margins) + ")")
          .call(d3.axisBottom(xScale))
          .selectAll("text")
            .style("font-size", "12px");
        svg.append("g")
          .attr("transform", "translate(" + margins + ", " + margins + ")")
          .call(d3.axisLeft(yScale).tickFormat(function(d) {
            return d;
          }));

        var div = d3.select("body")
              .append("div")
              .attr("class", "hover")
              .style("opacity", 0);

        svg.selectAll("bar")
          .data(range_names)
          .enter()
          .append("rect")
          .attr("class", "bar")
          .attr("x", function(d) {
            //since the data entered is the name of the label, we can use it to get the info from the json
            //console.log(d);
            return xScale(d) + margins;
          })
          .attr("y", function(d) {
            h = ranges[d].length;
            return 550 - h;
          })
          .attr("width", xScale.bandwidth())
          .attr("height", function(d) {
            h = ranges[d].length;
            return h;
          })
          .on("mouseover", function(d, i) {
            var xPos = +d3.select(this)
              .attr("x");
            var width = +d3.select(this)
              .attr("width");
            d3.select(this)
              .transition()
              .duration(200)
              .attr("class", "highlight")
              .attr("x", xPos - 5)
              .attr("width", width + 10)
              .attr("opacity", 0.8);
            h = ranges[i].length;
            const [x, y] = d3.pointer(event);
            console.log(y);
            div.transition()
              .duration(200)
              .style("opacity", 1);
            div.html("Number of lectures in range: " + h)
              .style("left", (x) + "px")
              .style("top", (y + 100) + "px");
          })
          .on("mouseout", function(d, i) {
            d3.select(this)
              .transition()
              .duration(200)
              .attr("x", function(d) {
                return xScale(d) + margins;
              })
              .attr("width", xScale.bandwidth())
              .attr("opacity", 1);
            div.transition()
              .duration(200)
              .style("opacity", 0);
          })
          
      }

      speedButton.addEventListener("click", speedHistogram);
    </script>
     <footer class="footer">
      <div class="grid-container">
          <div class="grid-x grid-padding-x">
          <div class="cell small-12">
              <!-- Footer content goes here -->
              <p>This is the footer content.</p>
          </div>
          </div>
      </div>
  </footer>
  
</body>
</html>