<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet"> 
</head>
    <title> Professors Data </title>
    <style>
      div.hover {
        /* stole someone else's css because I can't make things look good*/
        position: absolute;
        text-align: center;
        padding: .5rem;
        background: #FFFFFF;
        color: #313639;
        border: 1px solid #313639;
        border-radius: 8px;
        pointer-events: none;
        font-size: 12px;
      }


        svg rect {
            fill: #00008B;
        }
        .highlight {
            fill: blue;
        }
    .container {
      display: grid;
      grid-template-columns: 1fr 7fr 3fr;
      grid-gap: 20px;
      padding: 10px;
    }
    .stats-selector {
        width: 100%;
        background-color: gray;
        border: 1px solid black;
        border-radius: 10px;
        height: 32vh;
        color: black;
        padding: 0;
    }
    .stats-selector:focus {
        background-color: #b83f0f;
        color: black;
    }
    .stats-selector:hover {
        background-color: rgb(220,220,220);
        color: black;
    }
    .selector-text {
        padding:10px;
        margin-bottom: 10px;
        font-size: 1.5vw;
        line-height: 1;
        font-family: 'Work Sans', sans-serif;
    }
    
    .button-group {
        margin-bottom: 10px;
    }
    </style>
</head>
<body>

    <!-- Navbar -->
    <nav id="navbar" class="top-bar" data-topbar role="navigation">
      <div id="navbar" class="top-bar-left">
          <ul id="navbar" class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
          <li id="menu-text" class="menu-text">Professor-O-Meter</li>
          </ul>
      </div>

      <div id="navbar" class="top-bar-right">
          <ul id="navbar" class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
          <li><a href="/">Home</a></li>
          <li><a href="/professor">Professors</a></li>
          <li><a href="/lecture">Lectures</a></li>
          <li><a href="/departments">Departments</a></li>
          <ul class="menu">
              <li><form id="navbar" action="/result" class="search-form">
                  <input type="search" placeholder="Search" name="search"></li>
                  <li><button id="search_button" type="submit" class="button">Search</button>
              </form></li>
              </ul>
          </div>
          </ul>
      </div>
      </nav>
      <h1>Professors</h1>
      <h3>Click on each category to find out more information pertaining to each professor at MIT.</h3>
       <!-- This will be the template for each individual professor's page,
        Where all of their information are shown. Lectures they've given,
        topics they teach, words per minute, vocaulary, ... -->

    <div class="container" style="width: 92vw;">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="cell" style="padding: 0; width: 12vw;">
            <div class="button-group stacked-for-small">
                  <button class="button stats-selector custom-highlight" id="speed_scatter">
                    <p class="selector-text" style="font-size: 1.5vw; padding-top: 2vh;">WPM by Professor</p>
                  </button>
                  <div style="height: 2vh">&nbsp;</div>
                  <button class="button stats-selector custom-highlight" id="stu">
                    <p class="selector-text" style="font-size: 1.34vw; padding: 1.5vh 0;">Student Interactions by Professor<p>
                  </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <svg style="
        background-color: rgb(238, 245, 254); 
        height: 65.8vh; 
        border-radius: 20px; 
        border: 1px solid black;">
    </svg>
      </div>
      <div style="background-color: rgb(249, 222, 173); height: 65.8vh; border-radius: 20px; border: 1px solid black; padding: 10px;">
        <h4>
            <center><p>Professor Stats:</p></center>
        </h4>
        <div style="height: 55vh; overflow: auto; display: none;" id="wpmTable">
            <table>
                <tr>
                    <th style="border-bottom: 2px solid black;">
                        Professor Name
                    </th>
                    <th style="border-bottom: 2px solid black;">
                        WPM
                    </th>
                </tr>
                {% for dep, val in wpm %}
                {% if val[1] != 0 %}
                <tr>
                    <td>
                        <p><a href="/prof/{{ dep }}">{{ val[0] }}</a></p>
                    </td>
                    <td>
                        <p>{{ val[1] }}</p>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <div style="height: 55vh; overflow: auto; display: none;" id="aprTable">
            <table>
                <tr>
                    <th style="border-bottom: 2px solid black;">
                        Professor Name
                    </th>
                    <th style="border-bottom: 2px solid black;">
                        APR
                    </th>
                </tr>
                {% for dep, val in wpm %}
                {% if val[1] != 0 %}
                <tr>
                    <td>
                        <p><a href="/prof/{{ dep }}">{{ val[0] }}</a></p>
                    </td>
                    <td>
                        <p>{{ val[3] }}</p>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
      </div>
    </div>
    <svg></svg>

    <svg></svg>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
      var profRaw = '{{ data }}';
      profRaw = profRaw.replaceAll('&#34;', '\"');
      //big 2d array, name, wpm, bocabulary, student interactions
      var professors = JSON.parse(profRaw.replace('&#34;', '\"'))
      //console.log(professors);

      var scatterButton = document.getElementById("speed_scatter");
      var stuButton = document.getElementById("stu");
      //why are the tab sizes inconsistent aaaaaaaaaaaaaaaa
      var clear = function() {
        d3.selectAll("g").remove();
        d3.selectAll("text").remove();
      }
      
      //wpm by professor
      var speedScatter = function() {
        clear();
        var margins = 50; //margins on all sides
        var width = 800;
        var height = screen.height * .5;
        //actual width and height used for side labels
        var actualWidth = width - (2*margins);
        var actualHeight = height - (2*margins);

        var svg = d3.select("svg")
          .attr("width", width)
          .attr("height", height);
        
        //console.log(professors);
        //data used is subset of professors, since some don't have wpm data
        data = [];
        prof_keys = Object.keys(professors);
        for (let i = 0; i < prof_keys.length; i++) {
          if (professors[prof_keys[i]][1] != 0) {
            data.push([professors[prof_keys[i]][0], professors[prof_keys[i]][1]]);
          }
        }
        //console.log(data);
        //sorting data, descending order
        data = data.sort( function(a, b) {
          return b[1] - a[1];
        })
        wpm = data.map( function(arr, i) {
          return arr[1];
        });
        names = data.map( function(arr, i) {
          return arr[0];
        })
        //console.log(data);
        //console.log(wpm);
        //creating axes and adding them to svg
        var xScale = d3.scaleLinear()
          .domain([0, data.length])
          .range([0, actualWidth]);
        svg.append("g")
          .attr("transform", "translate(" + margins + ", " + (actualHeight + margins) + ")")
          .call(d3.axisBottom(xScale).ticks(20));
        var yScale = d3.scaleLinear()
          .range([actualHeight, 0])
          .domain([80, d3.max(wpm, function(d) {
            return d;
          })]);
        svg.append("g")
          .attr("transform", "translate(" + margins + ", " + margins + ")")
          .call(d3.axisLeft(yScale));
        
        //hidden divs
        var div = d3.select("body")
          .append("div")
          .attr("class", "hover")
          .style("opacity", 0);
        //making the points on the scatterplot
        svg.append("g")
          .selectAll("dot")
          .data(data)
          .enter()
          .append("circle")
            .attr("cx", function(d) {
              index = names.indexOf(d[0]); //weird way of finding the index, but it works
              return xScale(index) + margins; //this moves it to the right x coordinate
            })
            .attr("cy", function(d) {
              return yScale(d[1]) + margins;
            })
            .attr("r", 2)
            .style("fill", "#00008B")
          .on("mouseover", function(d, i) {
            //d is the mouse event, i contains data (array)
            d3.select(this)
              .transition()
              .duration("100")
              .attr("r", 2.5)
              .attr("opacity", "0.4"); //i have no clue whether numbers have to be strings or not, but d3 is extremely picky so it's best to be safe
            div.transition()
              .duration("100")
              .style("opacity", "1"); 
            //getting position, but positions in svgs are hard to get apparently
            //position gets better as ranking goes down?
            const [x, y] = d3.pointer(event);
            //console.log(x, y);
            rank = 1 + names.indexOf(i[0]);
            //console.log(rank);
            div.html("Name: " + i[0] + "<br>" + "WPM: " + i[1] + "<br>" + "Rank: " + rank)
              .style("left", x + "px")
              .style("top", (y + 2 * margins) + "px");
          })
          .on("mouseout", function(d, i) {
            d3.select(this)
              .transition()
              .duration("100")
              .attr("r", 2)
              .attr("opacity", "1");
            div.transition()
              .duration("100")
              .style("opacity", 0);
          });

        //making title
        svg.append("text") //title is just text
          .style("text-anchor", "middle") //centers text
          .attr("transform", "translate(" + ((actualWidth/2) + margins) + "," + "0)") //moves it to relatively central place on top of bar chart
          .attr("y", 30) //move the title down a little
          .attr("font-size", "20px") //bigger font
          .attr("font-weight", 550) //slightly bolder
          .text("WPM by Professor"); //the content
          
        //labeling x-axis, similar to how title is created
        svg.append("text")
          .style("text-anchor", "middle")
          .attr("transform", "translate(" + ((actualWidth/2) + margins) + "," + (height-(margins/3)) + ")")
          .attr("font-size", "15px")
          .attr("font-weight", 500)
          .text("Ranking");

        //y-axis, pretty much same as x-axis but text is rotated and at middle of height instead of width
        svg.append("text")
          .style("text-anchor", "middle")
          .attr("transform", "translate(20" + "," + ((actualHeight/2) + margins) + ")rotate(-90)")
          .attr("font-size", "15px")
          .attr("font-weight", 500)
          .text("WPM");

        document.getElementById("wpmTable").style.display = 'block';
        document.getElementById("aprTable").style.display = 'none';
      }

      var stuScatter = function() {
        clear();
        margins = 50;
        var left_margin = 70; //margins on all sides
        var right_margin = 25;
        var width = 800;
        var height = screen.height * .5;
        //actual width and height used for side labels
        var actualWidth = width - (left_margin + right_margin);
        var actualHeight = height - (2*margins);

        var svg = d3.select("svg")
          .attr("width", width)
          .attr("height", height);

        //data used is subset of professors, since some don't have wpm data
        data = [];
        prof_keys = Object.keys(professors);
        for (let i = 0; i < prof_keys.length; i++) {
          if (professors[prof_keys[i]][3] != 0) {
            data.push([professors[prof_keys[i]][0], professors[prof_keys[i]][3]]);
          }
        }
        //sorting data, descending order
        data = data.sort( function(a, b) {
          return b[1] - a[1];
        })
        //getting arrays with just the columns (student participation number and names)
        stu = data.map( function(arr, i) {
          return arr[1];
        });
        names = data.map( function(arr, i) {
          return arr[0];
        })

        //creating scales, axes
        xScale = d3.scaleLinear()
          .domain([0, data.length])
          .range([0, actualWidth]);
        svg.append("g")
          .attr("transform", "translate(" + left_margin + ", " + (actualHeight + margins) + ")")
          .call(d3.axisBottom(xScale).ticks(15));
        //the yScale is a bit large, from 0 to about 2000, but that's because some professors barely have any student participation
        yScale = d3.scaleLinear()
          .domain([0, d3.max(stu, function(d) {
            return d;
          })])
          .range([actualHeight, 0]);
        svg.append("g")
          .attr("transform", "translate(" + left_margin + ", " + margins + ")")
          .call(d3.axisLeft(yScale));

        //hidden divs
        var div = d3.select("body")
          .append("div")
          .attr("class", "hover")
          .style("opacity", 0);

        svg.append("g")
          .selectAll("dot")
          .data(data)
          .enter()
          .append("circle")
            .attr("cx",  function(d) {
              index = names.indexOf(d[0]);
              return xScale(index) + left_margin;
            })
            .attr("cy", function(d) {
              return yScale(d[1]) + margins;
            })
            .attr("r", 2)
            .style("fill", "#00008B")
          .on("mouseover", function(d, i) {
            d3.select(this)
              .transition()
              .duration(100)
              .attr("r", 3)
              .attr("opacity", "0.4");
            div.transition()
              .duration(100)
              .style("opacity", "1");
            const [x, y] = d3.pointer(event);
            rank = 1 + names.indexOf(i[0]);
            div.html("Name: " + i[0] + "<br>" + "Number of student interactions: " +  (Math.round(i[1] * 100) / 100) + "<br>" + "Rank: " + rank)
              .style("left", x + "px")
              .style("top", (y + 2*margins) + "px");
          })
          .on("mouseout", function(d, i) {
            d3.select(this)
              .transition()
              .duration(100)
              .attr("r", "2")
              .attr("opacity", 1);
            div.transition()
              .duration(100)
              .style("opacity", "0");
          })

        //making title
        svg.append("text") //title is just text
          .style("text-anchor", "middle") //centers text
          .attr("transform", "translate(" + ((actualWidth/2) + left_margin) + "," + "0)") //moves it to relatively central place on top of bar chart
          .attr("y", 30) //move the title down a little
          .attr("font-size", "20px") //bigger font
          .attr("font-weight", 550) //slightly bolder
          .text("Student Interactions by Professor"); //the content
          
        //labeling x-axis, similar to how title is created
        svg.append("text")
          .style("text-anchor", "middle")
          .attr("transform", "translate(" + ((actualWidth/2) + left_margin) + "," + (height-(margins/3)) + ")")
          .attr("font-size", "15px")
          .attr("font-weight", 500)
          .text("Ranking");

        //y-axis, pretty much same as x-axis but text is rotated and at middle of height instead of width
        svg.append("text")
          .style("text-anchor", "middle")
          .attr("transform", "translate(20" + "," + ((actualHeight/2) + margins) + ")rotate(-90)")
          .attr("font-size", "15px")
          .attr("font-weight", 500)
          .text("Number of Student Interactions");

        document.getElementById("wpmTable").style.display = 'none';
        document.getElementById("aprTable").style.display = 'block';
      }

      scatterButton.addEventListener("click", speedScatter);
      stuButton.addEventListener("click", stuScatter);

      speedScatter();
      scatterButton.focus();
    </script>

  <footer class="footer">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <!-- Footer content goes here -->
            <p>This is the footer content.</p>
        </div>
        </div>
    </div>
  </footer>

</body>
</html>